<!doctype html>
<html lang="ja">
  <head>
  </head>
  <body>

    <div class="container">
      <h3>Beginner's建築〜ビギケン〜</h3>
    </div>
    <div class="container text-center bg-success">
      <% if params[:jp] == "hokkaido"%>
      <h4>求人一覧ページ(北海道)</h4>
      <% end %>

      <% if params[:jp] == "aomori"%>
      <h4>求人一覧ページ(青森県)</h4>
      <% end %>

      <% if params[:jp] == "akita"%>
      <h4>求人一覧ページ(秋田県)</h4>
      <% end %>

      <% if params[:jp] == "iwate"%>
      <h4>求人一覧ページ(岩手県)</h4>
      <% end %>

      <% if params[:jp] == "yamagata"%>
      <h4>求人一覧ページ(山形県)</h4>
      <% end %>

      <% if params[:jp] == "miyagi"%>
      <h4>求人一覧ページ(宮城県)</h4>
      <% end %>

      <% if params[:jp] == "hukusima"%>
      <h4>求人一覧ページ(福島県)</h4>
      <% end %>

      <% if params[:jp] == "totigi"%>
      <h4>求人一覧ページ(栃木県)</h4>
      <% end %>

      <% if params[:jp] == "gunma"%>
      <h4>求人一覧ページ(群馬県)</h4>
      <% end %>

      <% if params[:jp] == "ibaraki"%>
      <h4>求人一覧ページ(茨城県)</h4>
      <% end %>

      <% if params[:jp] == "saitama"%>
      <h4>求人一覧ページ(埼玉県)</h4>
      <% end %>

      <% if params[:jp] == "tokyo"%>
      <h4>求人一覧ページ(東京都)</h4>
      <% end %>

      <% if params[:jp] == "tiba"%>
      <h4>求人一覧ページ(千葉県)</h4>
      <% end %>

      <% if params[:jp] == "kanagawa"%>
      <h4>求人一覧ページ(神奈川県)</h4>
      <% end %>

      <% if params[:jp] == "nigata"%>
      <h4>求人一覧ページ(新潟県)</h4>
      <% end %>

      <% if params[:jp] == "nagano"%>
      <h4>求人一覧ページ(長野県)</h4>
      <% end %>

      <% if params[:jp] == "toyama"%>
      <h4>求人一覧ページ(富山県)</h4>
      <% end %>

      <% if params[:jp] == "yamanasi"%>
      <h4>求人一覧ページ(山梨県)</h4>
      <% end %>

      <% if params[:jp] == "isikawa"%>
      <h4>求人一覧ページ(石川県)</h4>
      <% end %>

      <% if params[:jp] == "gihu"%>
      <h4>求人一覧ページ(岐阜県)</h4>
      <% end %>

      <% if params[:jp] == "aiti"%>
      <h4>求人一覧ページ(愛知県)</h4>
      <% end %>

      <% if params[:jp] == "sizuoka"%>
      <h4>求人一覧ページ(静岡県)</h4>
      <% end %>

      <% if params[:jp] == "hukui"%>
      <h4>求人一覧ページ(福井県)</h4>
      <% end %>

      <% if params[:jp] == "siga"%>
      <h4>求人一覧ページ(滋賀県)</h4>
      <% end %>

      <% if params[:jp] == "kyoto"%>
      <h4>求人一覧ページ(京都府)</h4>
      <% end %>

      <% if params[:jp] == "mie"%>
      <h4>求人一覧ページ(三重県)</h4>
      <% end %>

      <% if params[:jp] == "hyogo"%>
      <h4>求人一覧ページ(兵庫県)</h4>
      <% end %>

      <% if params[:jp] == "osaka"%>
      <h4>求人一覧ページ(大阪府)</h4>
      <% end %>

      <% if params[:jp] == "nara"%>
      <h4>求人一覧ページ(奈良県)</h4>
      <% end %>

      <% if params[:jp] == "wakayama"%>
      <h4>求人一覧ページ(和歌山県)</h4>
      <% end %>

      <% if params[:jp] == "tottori"%>
      <h4>求人一覧ページ(鳥取県)</h4>
      <% end %>

      <% if params[:jp] == "okayama"%>
      <h4>求人一覧ページ(岡山県)</h4>
      <% end %>

      <% if params[:jp] == "simane"%>
      <h4>求人一覧ページ(島根県)</h4>
      <% end %>

      <% if params[:jp] == "hirosima"%>
      <h4>求人一覧ページ(広島県)</h4>
      <% end %>

      <% if params[:jp] == "yamaguti"%>
      <h4>求人一覧ページ(山口県)</h4>
      <% end %>

      <% if params[:jp] == "kagawa"%>
      <h4>求人一覧ページ(香川県)</h4>
      <% end %>

      <% if params[:jp] == "tokusima"%>
      <h4>求人一覧ページ(徳島県)</h4>
      <% end %>

      <% if params[:jp] == "ehime"%>
      <h4>求人一覧ページ(愛媛県)</h4>
      <% end %>

      <% if params[:jp] == "kouti"%>
      <h4>求人一覧ページ(高知県)</h4>
      <% end %>

      <% if params[:jp] == "fukuoka"%>
      <h4>求人一覧ページ(福岡県)</h4>
      <% end %>

      <% if params[:jp] == "saga"%>
      <h4>求人一覧ページ(佐賀県)</h4>
      <% end %>

      <% if params[:jp] == "nagasaki"%>
      <h4>求人一覧ページ(長崎県)</h4>
      <% end %>

      <% if params[:jp] == "miyazaki"%>
      <h4>求人一覧ページ(宮崎県)</h4>
      <% end %>

      <% if params[:jp] == "kumamoto"%>
      <h4>求人一覧ページ(熊本県)</h4>
      <% end %>

      <% if params[:jp] == "kagosima"%>
      <h4>求人一覧ページ(鹿児島県)</h4>
      <% end %>

      <% if params[:jp] == "okinawa"%>
      <h4>求人一覧ページ(沖縄県)</h4>
      <% end %>
    </div>

    <% @company_forms.each do |company_form| %>
    <% @company = Company.find_by(id: company_form.company_id)%>

    <div class="container">
      <div class="row mt-5">
        <div class="col-md-2 bg-white"></div>
        <div class="col-md-4 text-center bg-light">
          <%= image_tag(company_form.image.url, :width => "300") %>
          <p>現場風景</p>
        </div>
        <div class="col-md-4 text-left bg-light">
          <p class="name mb-0">会社名：<%= @company.company_name %></p>
          <p class="border-bottom border-danger text-center bg-danger">求人内容</p>
          <p class="catch"><span class="border-bottom border-primary"><%= company_form.catchcopy %></span></p>
        </div>
        <div class="col-md-2 bg-white"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-light">
      <table class="tableTypeA01">
        <tbody>
        <tr>
          <th scope="row" width="130">
            <img src="https://proxy.weban.jp/web_cont/weban/images_v8/c/mod_ico_shopSummary_05.png" width="23" height="23" alt="勤務形態" style="padding-left: 2px;padding-right: 10px;" /><span class="border-bottom border-danger">勤務形態</span> </th>
            <td class="jobtype"><span class="fontBold jobtypeName border-bottom border-danger"><%= company_form.work_type.join(" , ") %></span><span class="emptype border-bottom border-danger"></span></td>
        </tr>
        <tr>
            <th scope="row" width="130">
              <img src="https://proxy.weban.jp/web_cont/weban/images/c/mod_ico_shopSummary_02.png" width="23" height="23" alt="給与" style="padding-left: 2px;padding-right: 10px;" /><span class="border-bottom border-danger">給与</span></th>
              <td><span id="paydtl" class="border-bottom border-danger"><%= company_form.money %></span></td>
        </tr>
        <tr>
          <th scope="row" width="130">
            <img src="https://proxy.weban.jp/web_cont/weban/images/d/mod_ico_shopSummary_03.png" width="23" height="23" alt="勤務期間" style="padding-left: 3px;padding-right: 9px;" /><span class="border-bottom border-danger">勤務期間</span></th>
            <td><span id="offihrdtllst" class="border-bottom border-danger"><%= company_form.period %></span></td>
        </tr>
        <tr>
          <th scope="row" width="130">
            <img src="https://proxy.weban.jp/web_cont/weban/images_v8/c/mod_ico_shopSummary_06.png" width="23" height="23" alt="レベル設定" style="padding-left: 5px;padding-right: 10px;" /><span class="border-bottom border-danger">レベル設定</span></th>
            <td><span class="border-bottom border-danger"><%= company_form.level_list.join(" , ") %></span></td>
        </tr>
        <tr>
          <th scope="row" width="130">
            <img src="https://proxy.weban.jp/web_cont/weban/images/c/mod_ico_shopSummary_04.png" width="23" height="23" alt="勤務地" style="padding-left: 0px;padding-right: 5px;" /><span class="border-bottom border-danger">勤務地</span></th>
            <td><span class="border-bottom border-danger"><%= company_form.title %></span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center bg-light py-3">
        <%= link_to("求人の詳細を確認する","/posts/#{company_form.id}/show",class: "btn btn-primary btn-lg") %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
    <% end %>

    <div class="pagination justify-content-center mt-5">
      <%= will_paginate @company_forms, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,:previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    </div>

  <% if session[:user_id] %>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center bg-light py-3">
      <%= link_to("ユーザーページを確認する","/users/#{@user.id}/users_page",class: "btn btn-warning btn-lg") %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <% end %>

  <% if session[:company_id] %>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center bg-light py-3">
      <%= link_to("企業ページを確認する","/company/#{@company.id}/company_page",class: "btn btn-warning btn-lg") %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <% end %>

    <footer class="text-center mt-5 pt-5">
      <p>Beginner's建築〜ビギケン〜</p>
    </footer>
 </body>
</html>
